.Card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 350px;
    height: 350px;
    margin: 0 auto;
    gap: 5px;
}

.Card-container-di {
    background: rgb(84, 219, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
    cursor: pointer;
    color: rgb(20, 15, 82);
}

.card-up {
    background: #00D147;

}

.card-down {
    background: #EB3700;

}

.card-selected {
    background: #FFF71E;
}